@font-face {
    font-family: 'aaarghnormal';
    src: url('aaargh_normal_macroman/Aaargh-webfont.eot');
    src: url('aaargh_normal_macroman/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
         url('aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
         url('aaargh_normal_macroman/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

h2, p, body {
	font-family:'aaarghnormal';
}

h1 {
	font-family:'Amatic+SC'
}

h1 {
	color:white;
	background-color:rgb(12,23,41);
	text-align: center;
	padding: 20px;
	margin:015px,015px;
	font-family: 'aaarghnormal';
	font-weight: bolder;
}

h2 {
	color:white;
	background-color:rgb(34,51,95);
	text-align: center;
	padding: 20px;
	font-weight: bold;
}

.tagline {
	color:rgb(12,23,41);
	text-align: center;
	padding: 20px;
	border:1px;
} 

.main-nav {
	color:rgb(12,23,41);
}


.logo {
	background:no-repeat;
	height:200px;
	width:200px;
}

.uk-nav, .uk-nav-offcanvas {
	color:white;
}


.menu {	
	text-align: right;
}

.fa, .fa-bars {
	font-size:20px;
}


.hire, .become {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin: 20px;
	border:1px;
	} 

.alephoto, .gregphoto {
	margin: 20px;
	border:1px;
	} 

.alessandra, .gregory {
	text-align:center;
}

#contact i {
	margin: 20px;
	font-size:50px;
	color:purple;
} 

#team p {
	font-family: 'aaarghnormal'
}

.testimonial {
	img-align: center;
}


@media (max-width:400px) {

h1, h2 {background-color:white;
	color:black;
}

}




border-radius: 50%;
	padding: 1em;
	border:1px;

.progress-bar, .progress-bar-success {
width: 40%;
border: solid red;
margin-bottom: 10px;
margin-top: 10px;
}


 
li:hover { 
color: yellow;
}
 
